@import "../../utils/palette.scss";

.select-language-container {
  display: flex;
  align-items: center;
  margin-right: 10px;

  select {
    background: none;
    border: none;
    outline: none;

    option {
      background: white;
      color: red;
      outline: none;
    }
  }
}
