@import "../../utils/palette.scss";

.select-language-container {
  display: flex;
  align-items: center;
  margin-right: 10px;

  button {
    padding: 5px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 3px;
    color: $titles;
    font-weight: bold;
    background: none;

    &:hover {
      opacity: 0.5;
    }
  }
}
