@import "../../utils/palette.scss";
@import "../../utils/palette.scss";

.card-container {
  width: 200px;
  height: 350px;
  perspective: 1000px;
  margin: 10px;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }

    .card-back,
    .card-front {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      border-radius: 5px;
    }

    .card-front {
      background-color: rgb(255, 255, 255);
      color: $titles;

      .card-front-footer {
        font-size: 0.8rem;
        line-height: 30px;
        text-align: left;
        padding: 5px;

        .card-tag {
          width: 70%;
          background: lightsteelblue;
          color: white;
          border-radius: 5px;
          padding: 7px;
          margin: 2px;
        }

        .card-list {
          list-style: none;
        }
      }
    }

    .card-back {
      background-color: $blue_aqua;
      color: white;
      font-size: 0.7rem;
      line-height: 0.7rem;
      transform: rotateY(180deg);

      .card-back-info {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        color: $text;
      }
    }
  }
}
