$blue_secondary: #5d05ffff;
$blue_primary: #3b5ca7;
$blue_aqua: #00bdfcff;
$aqua_primary: #2ce4d4ff;
$aqua_secondary: #3fe6d8ff;
$yellow_primary: #ffcc01ff;
$yellow_secondary: #ffed21ff;
$red_primary: #ff3643ff;
$red_secondary: #ff4854ff;
$titles: #084557;
